@import url(../public/fonts/satoshi/css/satoshi.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  cursor: pointer;
}

// font-feature-settings: "liga", "frac", "dlig" 0, "ss04" 0, "ss03", "tnum" 0, "ss02" 0, "ss01" 0, "salt" 0, "pnum" 0, "ordn" 0;